.App {
  text-align: center;
  color: #333;
}

.Box-container {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(5, calc(20vw - 1em));
  grid-template-rows: repeat(5, calc(20vh - 1em));
  grid-auto-flow: column;
}

.Box {
  display: flex;
  border: 0.25em solid #416066;
  border-radius: 0.5em;
  background-color: #c4f5ff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.Box-selected {
  background-color: rgb(245, 198, 198);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
